<h1> <%= @user.username %> </h1>
<% @user.events.each do |event| %>
<strong> <%= event.name %></strong> <br>
<%= event.description %> <br>
<%= event.location %><br>
<%= event.date %>
<% end %>
<br>

<h3>Upcoming Event</h3>
<% @upcoming.each do |event| %>
<strong> <%= event.name %></strong> <br>
<%= event.description %> <br>
<%= event.location %><br>
<%= event.date %>
<% end %> 

<h3>Past Event</h3>
<% @past.each do |event| %>
<strong> <%= event.name %></strong> <br>
<%= event.description %> <br>
<%= event.location %><br>
<%= event.date %>
<% end %> 