<%= form_for @event do |f| %>  
  <% @event.errors.full_messages.each do |error| %>
  <li><%= error %></li><br>
  <% end %>

   <%= f.label :name, 'Event Title:'%>
  <%= f.text_field :name%><br><br>
   <%= f.label :description, 'Event Description:'%>
  <%= f.text_field :description%><br><br>
   <%= f.label :location, 'Event Location:'%>
  <%= f.text_field :location%><br><br>
   <%= f.label :date, 'Date:'%>
  <%= f.datetime_select :date %><br><br>
  <%= f.submit 'Save'%>
<% end %>