<h1> <%= @event.name %> </h1>
<h2> <%= @event.location%> </h2>
<h3> <%= @event.description %> </h3>
<h4> <%= @event.date %> </h4>
<div> 
<p>
<%= link_to "Register!", register_path(@event), class: "btn btn-secondary", method: :post %> 

</p>
</div>
<% @event.attendees.each do |attendee| %>
<%= attendee.username %>   
<% end %>